.waifu-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.my-rating:hover {
    transform: scale(1.1);
}

.social-links a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

.social-links a:hover {
    color: #ff00f2;
}